.box {
  display: block;
  z-index: 10;
  position: relative;
  border-top: 1px solid #f8f8f8;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  background: transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.box-header {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  color: #363636;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  background: #f5f5f5;
  border-bottom: 1px solid #e4e4e4;
  height: 28px;
  z-index: 5000;
}
.box-name {
  padding-left: 15px;
  line-height: 28px;
}
.box-name:hover {
  cursor: move;
}
.box-name > i {
  margin-right: 5px;
}
.box-icons {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}
.box-content {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  padding: 15px;
  background: #fcfcfc;
}
.box-icons a,
.box-icons button {
  cursor: pointer;
  text-decoration: none!important;
  border-left: 1px solid #fafafa;
  height: 26px;
  line-height: 26px;
  width: 28px;
  display: block;
  float: left;
  text-align: center;
  color: #b8b8b8!important;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.box-icons a:hover,
.box-icons button:hover {
  box-shadow: inset 0 0 1px 0 #cecece;
}
